@mixin flex ($direction: row, $justify: flex-start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin clickable {
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 0 0 transparent;

    &:focus-visible {
        outline: 2px solid black;
        box-shadow: 0 0 0 4px $colorSecondaryInfo;
    }
}

@mixin fillWidthUntil ($maxWidth) {
    width: 100%;
    max-width: $maxWidth;
}

@mixin clearDefaultStyle {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
}

@mixin hideScrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}