// color variables

$colorBg0: #1c1e2a;
$colorBg1: #222434;
$colorBg2: #2f3149;
$colorBgCard: #15161d;
$colorBgCardError: #17101a;

$colorPrimary: #10a37f;
$colorSecondaryInfo:   #3ca4ff;
$colorSecondaryDanger: #ae1e31;
$colorSecondaryWarn:   #ff9f3c;

$colorTextHint:     #7c83ce;
$colorTextNormal:   #d9e0ff;
$colorTextAction:   #ffffff;
$colorTextContrast: #000000;

$colorBoardWhite: #dfdeff;
$colorBoardBlack: #5858ee;
